Team18_Canvas_App_20230330222225/Microsoft.Flow/flows/c6bc76cc-4342-4fcc-8e10-18c9cfcf2df3/definition.json
{"name":"1a5e36aa-83f1-5ac3-342e-28c6a58c931a","id":"/providers/Microsoft.Flow/flows/1a5e36aa-83f1-5ac3-342e-28c6a58c931a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Webex_WhatsApp_V3","definition":{"metadata":{"workflowEntityId":"e70c8c0d-e8c7-ed11-b597-000d3ab474eb","processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bfe58d7d-281d-4270-b43c-4b916834e703","type":"User","tenantId":"8e17a4fc-482b-471e-966d-f0dec004d318"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-30T21:52:34.4456863Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"04c4c40e-b1e3-40b0-9520-793011d95f60"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Createameeting_title":{"type":"string","description":"title","x-ms-powerflows-param-ispartial":false},"Createameeting_start":{"type":"string","description":"start","x-ms-powerflows-param-ispartial":false},"Createameeting_end":{"type":"string","description":"end","x-ms-powerflows-param-ispartial":false},"CreateAInvitee_email":{"type":"string","description":"email","x-ms-powerflows-param-ispartial":false},"SendaMessage2_to":{"type":"string","description":"to","x-ms-powerflows-param-ispartial":false}},"required":["Createameeting_title","Createameeting_start","Createameeting_end","CreateAInvitee_email","SendaMessage2_to"]}}}},"actions":{"Create_a_meeting":{"runAfter":{},"metadata":{"operationMetadataId":"8d9fb0c6-0c43-41bc-9b3e-76d7dddcb449"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0","connectionName":"shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0","operationId":"CreateAMeeting"},"parameters":{"Content-Type":"application/json","body/title":"@triggerBody()['Createameeting_title']","body/start":"@triggerBody()['Createameeting_start']","body/end":"@triggerBody()['Createameeting_end']","body/timezone":"Europe/London","body/enabledAutoRecordMeeting":false,"body/allowAnyUserToBeCoHost":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON":{"runAfter":{"Create_a_meeting":["Succeeded"]},"metadata":{"operationMetadataId":"8355cb33-99e0-4943-b6ce-5883f34f8eba"},"type":"ParseJson","inputs":{"content":"@body('Create_a_meeting')","schema":{"type":"object","properties":{"id":{"type":"string"},"meetingNumber":{"type":"string"},"title":{"type":"string"},"password":{"type":"string"},"phoneAndVideoSystemPassword":{"type":"string"},"meetingType":{"type":"string"},"state":{"type":"string"},"timezone":{"type":"string"},"start":{"type":"string"},"end":{"type":"string"},"hostUserId":{"type":"string"},"hostDisplayName":{"type":"string"},"hostEmail":{"type":"string"},"hostKey":{"type":"string"},"siteUrl":{"type":"string"},"webLink":{"type":"string"},"sipAddress":{"type":"string"},"dialInIpAddress":{"type":"string"},"enabledAutoRecordMeeting":{"type":"boolean"},"allowAnyUserToBeCoHost":{"type":"boolean"},"allowFirstUserToBeCoHost":{"type":"boolean"},"allowAuthenticatedDevices":{"type":"boolean"},"enabledJoinBeforeHost":{"type":"boolean"},"joinBeforeHostMinutes":{"type":"integer"},"enableConnectAudioBeforeHost":{"type":"boolean"},"excludePassword":{"type":"boolean"},"publicMeeting":{"type":"boolean"},"enableAutomaticLock":{"type":"boolean"},"unlockedMeetingJoinSecurity":{"type":"string"},"telephony":{"type":"object","properties":{"accessCode":{"type":"string"},"callInNumbers":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"callInNumber":{"type":"string"},"tollType":{"type":"string"}},"required":["label","callInNumber","tollType"]}},"links":{"type":"array","items":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"},"method":{"type":"string"}},"required":["rel","href","method"]}}}},"meetingOptions":{"type":"object","properties":{"enabledChat":{"type":"boolean"},"enabledVideo":{"type":"boolean"},"enabledNote":{"type":"boolean"},"noteType":{"type":"string"},"enabledFileTransfer":{"type":"boolean"},"enabledUCFRichMedia":{"type":"boolean"}}},"attendeePrivileges":{"type":"object","properties":{"enabledShareContent":{"type":"boolean"},"enabledSaveDocument":{"type":"boolean"},"enabledPrintDocument":{"type":"boolean"},"enabledAnnotate":{"type":"boolean"},"enabledViewParticipantList":{"type":"boolean"},"enabledViewThumbnails":{"type":"boolean"},"enabledRemoteControl":{"type":"boolean"},"enabledViewAnyDocument":{"type":"boolean"},"enabledViewAnyPage":{"type":"boolean"},"enabledContactOperatorPrivately":{"type":"boolean"},"enabledChatHost":{"type":"boolean"},"enabledChatPresenter":{"type":"boolean"},"enabledChatOtherParticipants":{"type":"boolean"}}},"sessionTypeId":{"type":"integer"},"scheduledType":{"type":"string"},"simultaneousInterpretation":{"type":"object","properties":{"enabled":{"type":"boolean"}}},"enabledBreakoutSessions":{"type":"boolean"},"audioConnectionOptions":{"type":"object","properties":{"audioConnectionType":{"type":"string"},"enabledTollFreeCallIn":{"type":"boolean"},"enabledGlobalCallIn":{"type":"boolean"},"enabledAudienceCallBack":{"type":"boolean"},"entryAndExitTone":{"type":"string"},"allowHostToUnmuteParticipants":{"type":"boolean"},"allowAttendeeToUnmuteSelf":{"type":"boolean"},"muteAttendeeUponEntry":{"type":"boolean"}}}}}}},"Create_event_(V4)":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"457438f9-0a97-47e3-ba8a-d3ed0399613e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADQ4NDkyNGE5LTBmMWQtNDZhMS05NjI1LTA1Y2VjZmI4NmJlOABGAAAAAABqLtqmf7riQqlUR7lRFW-5BwBP378jrqanTIUv_fK3L8a7AAAAAAEGAABP378jrqanTIUv_fK3L8a7AAACgDcRAAA=","item/subject":"@body('Parse_JSON')?['title']","item/start":"@body('Parse_JSON')?['start']","item/end":"@body('Parse_JSON')?['end']","item/timeZone":"(UTC+00:00) Dublin, Edinburgh, Lisbon, London","item/body":"<p></p>","item/location":"@body('Parse_JSON')?['webLink']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_A_Invitee":{"runAfter":{"Create_event_(V4)":["Succeeded"]},"metadata":{"operationMetadataId":"5a860021-5c92-4289-a7d2-f3edc2dab326"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0","connectionName":"shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0","operationId":"CreateAInvitee"},"parameters":{"Content-Type":"application/json","body/email":"@triggerBody()['CreateAInvitee_email']","body/meetingId":"@body('Parse_JSON')?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_a_Message_2":{"runAfter":{"Create_A_Invitee":["Succeeded"]},"metadata":{"operationMetadataId":"88b764b8-cb7f-4a26-84be-c1634192a14c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_whatsappip","connectionName":"shared_whatsappip","operationId":"SendMessage"},"parameters":{"Version":"v15.0","Phone-Number-ID":104545025835246,"body/messaging_product":"whatsapp","body/to":"@triggerBody()['SendaMessage2_to']","body/type":"template","body/template/name":"online_meeting_link_sharing","body/template/language/code":"en_US","body/template/components":[{"type":"header","parameters":[{"type":"image","image/link":"https://images.ecycle.com.br/wp-content/uploads/2021/05/20195924/o-que-e-paisagem.jpg"}]},{"type":"body","parameters":[{"type":"text","text":"@body('Parse_JSON')?['start']"},{"type":"text","text":"@body('Parse_JSON')?['timezone']"},{"type":"text","text":"@body('Parse_JSON')?['webLink']"}]}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0":{"connectionName":"shared-webex-20-2d-2-87d2869b-8c57-46a5-af03-8f97bff5f81a","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_webex-20-2d-201-5f3ab14b72cb0d80ba-5fbfbc82612a6ca3e0","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-66a32a30-cd77-43fb-9391-985f90c920e3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_whatsappip":{"connectionName":"shared-whatsappip-9ecae67d-be8c-4a47-9965-14f898b39ae4","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_whatsappip","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}